<div class="container">
  <div class="row">
    <div class="col col-sm-3">
      <div id="sidebar">
        <ul class="nav nav-stacked">
          <li><h3 class="highlight"></h3></li>
        </ul>
      </div>
    </div>
    <div class="col col-sm-9">
      <div class="panel">
        <h1>Über uns</h1>

        <div class="row">
          <div class="col col-sm-6">

            <h4>Wer sind wir</h4>
            <p>Wir sind ein Team aus Studenten der Wirtschaftsinformatik an der FH Köln und der FH Dortmund.
              Wir bringen Erfahrungen aus langjähriger Berufstätigkeit in unterschiedlichen
              Berufsfeldern der IT und aus verschiedenen Branchen mit.</p>

            <h4>Was machen wir</h4>
            <p>Mit unserem Interesse für Bildung und Weiterbildung haben wir uns mit der Vergleichbarkeit
              von Schulungsangeboten für Arbeitslose beschäftigt. Diese Bildungsangebote werden aus Sozialausgaben
              finanziert, die die Kommunen unterschiedlich, teilweise sehr stark belasten. Dieser unbefriedigende
              Zustand geht oft mit einer hohen Frustration bei den Teilnehmern von öffentlich geförderten Weiterbildungen einher.
              Bis zur Realisierung von ScheckCheck, gab es keine unabhängige Plattform zum Vergleich dieser
              sogenannten Bildungsträger. Durch die hier hergestellte Vergleichbarkeit geben wir den Teilnehmern
              der Maßnahmen die Möglichkeit von den Erfahrungen anderer zu profitieren. Das erhöht die Effizienz und
              steigert letztlich auch die Effektivität der Weiterbildungen.</p>

            <p>Wir senken die direkten und indirekten Kosten für diese Sozialleistungen.
              Die Abzocke wird durch die Vergleichbarkeit beseitigt und die Qualität gesteigert,
              was wiederum die Vermittlungschancen der Arbeitslosen erhöht.</p>

            <h4>Das Team</h4>

            <p>Das Projekt-Team der Plattform ScheckCheck besteht aus jungen und innovativen Studenten, die sich gegen die Abzocke von Sozialabgaben durch Bildungsträger und die für Qualitätssteigerung von Weiterbildungen für Arbeitslose stark machen.</p>

            <p>Bestehend aus:</p>

            <ul>
              <li>Britta</li>
              <li>Lars</li>
              <li>Christian</li>
              <li>Markus</li>
              <li>Joachim</li>
              <li>Halil</li>
            </ul>

          </div>
        </div>

        <hr>

      </div>
    </div>
  </div>
</div>
