<div class="container">
  <div class="row">
    <div class="col col-sm-3">
      <div id="sidebar">
        <ul class="nav nav-stacked">
          <li><h3 class="highlight"></h3></li>
        </ul>
      </div>
    </div>
    <div class="col col-sm-9">
      <div class="panel">
        <h1>Das Team</h1>

        <div class="row">
          <div class="col col-sm-6">

            <ul>
              <li>Britta</li>
              <li>Lars</li>
              <li>Christian</li>
              <li>Markus</li>
              <li>Joachim</li>
              <li>Halil</li>
            </ul>

          </div>
        </div>

        <hr>

      </div>
    </div>
  </div>
</div>
