<div class="container">
  <div class="row">
    <div class="col col-sm-3">
      <div id="sidebar">
        <ul class="nav nav-stacked">
          <li><h3 class="highlight"></h3></li>
        </ul>
      </div>
    </div>
    <div class="col col-sm-9">
      <div class="panel">
        <h1>Bewertung von Teilnehmer XYZ <i class="glyphicon glyphicon-user"></i> abgegeben</h1>

        <div class="row">
          <div class="col col-sm-6">

            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputDatum1" class="col-lg-5 control-label">Datum</label>

                <div class="col-lg-7">
                  <input type="text" class="form-control" id="inputDatum1" placeholder="Datum">
                </div>
              </div>

              <div class="form-group">
                <label for="inputBildungstraeger1" class="col-lg-5 control-label">Bildungsträger</label>

                <div class="col-lg-7">
                  <input type="text" class="form-control" id="inputBildungstraeger1" placeholder="Bildungsträger">
                </div>
              </div>

              <div class="form-group">
                <label for="inputBildungsmassnahme1" class="col-lg-5 control-label">Bildungsmaßnahme</label>

                <div class="col-lg-7">
                  <input type="text" class="form-control" id="inputBildungsmassnahme1" placeholder="Bildungsmaßnahme">
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-5 control-label">Bewertung</label>

                <div class="col-lg-7">
                  <textarea rows="4" cols="50" />
                </div>
              </div>

              <p>Meine Bewertung für diesen Träger</p>

              <div class="form-group">
                <label class="col-lg-5 control-label">Inhalt der Weiterbildung</label>

                <div class="col-lg-7">
                  <p>STERNE Inhalt der Weiterbildung</p>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-5 control-label">Umsetzung der Weiterbildung</label>

                <div class="col-lg-7">
                  <p>STERNE Umsetzung der Weiterbildung</p>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-5 control-label">Praxisnähe</label>

                <div class="col-lg-7">
                  <p>STERNE Praxisnähe</p>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-5 control-label">Lehrveranstaltungen</label>

                <div class="col-lg-7">
                  <p>STERNE Lehrveranstaltungen</p>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-5 control-label">Dozenten</label>

                <div class="col-lg-7">
                  <p>STERNE Dozenten</p>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-5 control-label">Organisation</label>

                <div class="col-lg-7">
                  <p>STERNE Organisation</p>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-5 control-label">Ausstattung</label>

                <div class="col-lg-7">
                  <p>STERNE Ausstattung</p>
                </div>
              </div>

            </form>

          </div>
        </div>

        <hr>

      </div>
    </div>
  </div>
</div>

