<div class="container">
  <div class="row">

    <div class="col col-sm-12">
      <div class="panel">
        <h1>Bildungsmaßnahmen</h1>

        <table class="table table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Ort</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="bildungsmassnahme in bildungsmassnahmen">
            <td><a ng-href="#/bildungsmassnahme/{{bildungsmassnahme.id}}">{{ bildungsmassnahme.name }}</a></td>
            <td>{{ bildungsmassnahme.ort }}</td>
            <td>{{ bildungstraeger.beschreibung }}</td>
          </tr>
          </tbody>
        </table>

        <hr>

      </div>
    </div>
  </div>
</div>
