<div class="container">
  <div class="row">
    <div class="col col-sm-3">
      <div id="sidebar">
        <ul class="nav nav-stacked">
          <li><h3 class="highlight"></h3></li>
        </ul>
      </div>
    </div>
    <div class="col col-sm-9">
      <div class="panel">
        <h1>Impressum</h1>

        <div class="row">
          <div class="col col-sm-6">

            <p>Scheckcheck GmbH</p>

            <p>Unter grünen Farben 666</p>

            <p>50345 Köln</p>
            <br/>

            <p>Geschäftsführer:</p>

            <p>Dr. Ferdinand Check</p>
            <br/>

            <p>Kontaktinformation:

            <p>kontakt@scheckcheck.com</p>

            <p>Tel. 0221 / 08154711</p>
            <br/>

            <p>Sitz der Gesellschaft: Köln</p>

            <p>HRB 47110815 / Amtsgericht Köln</p>

            <p>Ust. IdNr.: DE77154708</p>
            <br/>

          </div>
        </div>

        <hr>

      </div>
    </div>
  </div>
</div>
