<div class="row">
  <div class="col col-sm-3">
    <div id="sidebar">
      <ul class="nav nav-stacked">
        <li><h3 class="highlight"></h3></li>
      </ul>
    </div>
  </div>
  <div class="col col-sm-9">
    <div class="panel">
      <h1>Login</h1>

      <div class="row">
        <div class="col col-sm-6">

          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="inputBenutzername1" class="col-lg-5 control-label">Benutzername</label>
              <div class="col-lg-7">
                <input type="text" class="form-control" id="inputBenutzername1" placeholder="Benutzername">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword1" class="col-lg-5 control-label">Password</label>
              <div class="col-lg-7">
                <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-5 col-lg-7">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Eingeloggt bleiben
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Sign in</button>
              </div>
            </div>
          </form>

        </div>
      </div>

      <hr>

    </div>
  </div>
</div>
