<div class="container">
  <div class="row">
    <div class="col col-sm-3">
      <div id="sidebar">
        <ul class="nav nav-stacked">
          <li><h3 class="highlight">Themen <i class="glyphicon glyphicon-dashboard pull-right"></i></h3></li>
        </ul>
        <div class="accordion" id="accordion2">

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Wir sind
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>Ein innovatives Team aus Studenten der Wirtschaftsinformatik an der FH Köln und der FH Dortmund</p>
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                Wir machen
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>Wir senken die direkten und indirekten Kosten für diese Sozialleistungen.
                  Die Abzocke wird durch die Vergleichbarkeit beseitigt und die Qualität gesteigert,
                  was wiederum die Vermittlungschancen der Arbeitslosen erhöht.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col col-sm-9">
      <div class="panel">
        <h1>Top Stories über Weiterbildungen</h1>

        <div class="row">
          <div class="col col-sm-8">
            <img src="images/bg_iphone.png" class="img-responsive">
          </div>
        </div>

        <h2>ScheckCheck auf mobilen Endgeräten</h2>
        Rrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor
        magni dolores
        eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit,
        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
        <br><br>
        <button class="btn btn-default">More</button>

        <hr>

        <h2>Bildungsträger geht Pleite</h2>
        <img src="images/bildungstraeger.jpg" alt="bildungstraeger" class="img-responsive pull-right"> Farmhand ida quae ab illo inventore
        veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor
        magni dolores
        eos qui ratione voluptatem sequi nesciunt. I met him on the Internet. He's a French model. Qui dolorem ipsum
        quia dolor sit amet, consectetur, adipisci velit,
        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
        <br><br>
        <button class="btn btn-default">More</button>

        <hr>

      </div>
    </div>
  </div>
</div>
